<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="log_path" value="./logs/"/>
    <property name="r_pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] [%t] [%logger{5}] %m%n"/>

    <!-- appenders -->
    <appender name="S" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
        <!--for further documentation-->
        <File>${log_path}/web-server.log</File>
        <encoder>
            <pattern>${r_pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/web-server.log-%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 异步输出 -->
    <appender name ="ASYNC_S" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="S"/>
    </appender>

    <!--Request-->
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_path}/web-request.log</File>
        <encoder>
            <pattern>${r_pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/web-request.log-%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- 异步输出 -->
    <appender name ="ASYNC_R" class= "ch.qos.logback.classic.AsyncAppender">
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref ="R"/>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="WebLogAspect" additivity="false" level="INFO">>
        <appender-ref ref="ASYNC_R"/>
    </logger>

    <root level="INFO" >
        <appender-ref ref="ASYNC_S"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>